.header-container {
  display: flex;
  flex-direction: row;
  /* flex: 1 1 100%; */
}
.header-row {
  text-align: start;
  background-color: rgba(0, 0, 0, 0.075);
}

.header-cell {
  padding: 8px;
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  /* border: 1px solid #c4c4c4; */
  border-left: none;
  color: black;
}
